.Appbar {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0px;
}

.centerY {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.total {
  font-size: 26px !important;
  font-weight: bold !important;
}

.currency {
  font-size: 20px !important;
  color: #7e90a2;
  font-weight: normal !important;
}

.due {
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 0px !important;
  /* margin-top: 3px; */
}

.due-box {
  height: 10px;
}