.align-left {
  text-align: left !important;
}

.summary {
  font-size: 24px !important;
  border-bottom: none !important;
}

.summary-label {
  font-size: 14px !important;
  text-align: left !important;
  border-bottom: none !important;
}

.bb-none {
  border-bottom: none !important;
}