.container {
  width: 100%;
  padding: 1.5% 0;
}


/* direction={{ xs: "column", sm: "row", md: "row" }} */

.content-box {
  /* width: 95%; */
  padding: 0 3%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .content-box {
    flex-direction: column;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .content-box {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .content-box {
    flex-direction: row;
  }
}
