.btn {
  /* position: absolute !important;
  top: 50%;
  right: 100px; */
  /* transform: translateY(-50%); */
  background-color: transparent;
  border: 1px solid black;
  border-radius: 4px;
  width: 60px;
  height: 30px;
  cursor: pointer;
  user-select: none;
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: #1976d2;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 4px;
  text-decoration: none;
  vertical-align: middle;
  position: relative;
  display: inline-block;
}

.btn:hover {
  background-color: rgba(25, 118, 210, 0.04);
  text-decoration: none;
  border: 1px solid #1976d2;
}


.img {
  width: 30px;
  height: auto;
}